html {
    box-sizing: border-box;
}

body {
    background-color: #0096C7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Mukta', sans-serif;
}

.main {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    max-width: 960px;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.055);

    display: flex;
    flex-direction: row;

    text-align: center;
    text-transform: uppercase;
}

h2 {
    letter-spacing: 1px;
    font-size: 18px;
    margin: 0;
    
}

.onediv,
.twodiv {
    padding: 25px 50px;
    background-color: white;
    color: grey;
    border-right: 1px solid grey;
}

.threediv {
    padding: 25px 50px;
    background-color: white;
    color: grey;
    border-bottom: none;
}

img {
    margin-bottom: 25px;
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 10px;
    width: 100%;

}

.list {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
    height: 100%;
    display: block;
    
    color: #0096C7;
    border-top: 1px solid rgb(206, 202, 202);
}

.price {
    display: block;
    font-size: 32px;
    font-weight: 700;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

    color: #0096C7;
    border-top: 1px solid rgb(206, 202, 202);
}

.buttonone {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #00B4D8;
    border: 1px #00B4D8 solid;
    padding: 5% 15% 5% 15%;
    background-color: white;
    border-radius: 10px;

    transition: all 200ms ease-in-out;
}

.buttontwo {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #00B4D8;
    border: 1px white solid;
    padding: 5% 15% 5% 15%;
    border-radius: 10px;
    transition: background-color 200ms ease-in-out;
}

.buttonone:hover {
    background-color: #dbeff3;
    cursor: pointer;
}

.buttontwo:hover,
.buttontwo:focus {
    background-color: #0077B6;
    cursor: pointer;
}

@media(max-width : 800px) {
    .main {
        flex-direction: column;
    }

    .onediv,
    .twodiv {
        border-right: none;
        border-bottom: 1px solid #e1f1ff;
        padding: 25px 50px;
    }

    .threediv {
        padding: 25px 50px;
    }
}
